<div class="card">
    <h5 class="card-header">Follows</h5>
    <div class="card-body">

        <p class="card-text">
            {% for following in profile.follows.all %}
            <a href="{% url 'profile' following.user.id %}">@{{ following }}</a> <br />
            {% endfor %}
        </p>

    </div>
</div>

<br /><br />
<div class="card">
    <h5 class="card-header">Followed By</h5>
    <div class="card-body">

        <p class="card-text">
            {% for following in profile.followed_by.all %}
            <a href="{% url 'profile' following.user.id %}">
                @{{ following }}</a> <br />
            {% endfor %}
        </p>

    </div>
</div>
<br />